/* Apply a style to the entire body */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 40px;
    background-color: white;
}

/* Style for the H1 heading */
h1 {
    color:darkgreen;/* Dark green color */
    border-bottom: 2px solid #333366;
    padding-bottom: 20px;
    text-align: center;
}

/* Style for the paragraph */
p {
    color: #555555; /* Gray color */
    line-height: 1.6;
    margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 0px;
  margin-left: 0px;
}

/*Style for the H2 heading */
h2,
h3 {
    color:darkgreen; /* Dark green color */
    margin-bottom: 10px;
    margin-top: 10px;
}

.paticka {
    padding: 10px 0;
    text-align: right;
}

section {
    padding: 10px 0;
}

.menu {
    margin-top: 10px;
    margin-bottom: 10px;
    color:  #555555; /* Gray color */
}

li {
    color:  #555555; /* Gray color */
    line-height: 1.6;
    margin-bottom: 10px;
}

.ObsahTucny {
    font-weight: bolder;
}
